.project-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.project-btnContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.project-btn{
    background-color: transparent;
    border: 2px solid black;
    padding: 10px;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    width: 100px;
}
.project-btn:hover{
    background-color: black;
    color: white;
}
.project-img{
    width: 500px;
    height: auto;
    margin-bottom: 25px;
}
@media (max-device-width: 500px) {
    .project-box{
        width: 400px;
        padding-left: 10px;
    }
    .project-img{
        width: 350px;
        height: auto;
        margin-bottom: 25px;
    }
}
@media (max-device-width: 330px) {
    .project-box{
        width: 300px;
        padding-left: 10px;
    }
    .project-img{
        width: 250px;
        height: auto;
        margin-bottom: 25px;
    }
}