.mainPadding{
    padding-top: 30px;
}
.logoCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoImg{
    border-radius: 15px;
    height: 95vh;
    margin-bottom: 25px;
}