.tech-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
}
.img-logo{
    height: auto;
    width: 500px;
    padding-left: 50px;
}
.tech-cont:hover{
    background-color: rgb(153, 149, 149);
}
.tech-text {
    font-size: 1.3rem;
    font-weight: bold;
}