@font-face {
  font-family: "Puritan";
  src: url("./assets/Puritan/Puritan-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Puritan";
  src: url("./assets/Puritan/Puritan-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Puritan";
  src: url("./assets/Puritan/Puritan-Italic.ttf");
  font-weight: lighter;
}
body{
  background-color: #d8e2dc;
  font-family: 'Puritan';
  /* color: #fff; */
}
